# JAVA_ENV
JAVA_ENV=development

# PORT
PORT=8080
PORT_DEBUG=5005

# POSTGRES
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/jtools
SPRING_DATABASE_PORT=5432
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=password
